<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <smile_elasticsuite_autocomplete_settings>
            <blog_post_autocomplete>
                <max_size>5</max_size>
            </blog_post_autocomplete>
        </smile_elasticsuite_autocomplete_settings>

        <comwrap_elasticsuite_blog>
            <post_settings>
                <max_result>5</max_result>
            </post_settings>
        </comwrap_elasticsuite_blog>
    </default>
</config>
