<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>

        <section id="comwrap_elasticsuite_blog" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Blog Post settings</label>
            <tab>smile_elasticsuite</tab>
            <resource>Magento_Backend::comwrap_elasticsuite_post</resource>

            <group id="post_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Setting</label>
                <field id="max_result" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max result</label>
                    <validate>integer</validate>
                    <comment><![CDATA[Maximum number of results to display in result block.]]></comment>
                </field>
            </group>
        </section>

        <section id="smile_elasticsuite_autocomplete_settings">
            <group id="blog_post_autocomplete" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Blog Post Autocomplete</label>
                <field id="max_size" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max size</label>
                    <validate>integer</validate>
                    <comment><![CDATA[Maximum number of blog post to display in autocomplete results.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
